.buttons{

    border:0;
    color: #ffffff;
    font-size: 19px;
    font-family:sans-serif;
    padding: 15px 15%;
    width: 100%;
    background: -moz-linear-gradient(center top , #013ca6 0%, #013ca6 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#013ca6), color-stop(100%,#013ca6));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   
    -moz-box-shadow: 0px 6px 0 #00BFFF;
    -webkit-box-shadow: 0px 6px 0 #00BFFF;

}
.titulo{

    font-weight: bold;
    font-size: 2rem;
}